@import "tailwindcss"; 



:root{

    /* quick action colors */
    --green-bg-color:#52AC70;
    --yellow-bg-color:#F4C21F;
    --bold-green-bg:#2F7446;
    /* farmer of month */
    --division-bg-color:#FCDF6C;
    --weather-division-border:#C6DEF3;
    --weather-division-bg:#EDF4FB




}
/* Add to your global CSS file */
.overlay-fallback {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
  padding: 1rem;
}